/* Global Styles */

 *,
 *::before,
 *::after {
    padding: 0;
    margin: 0;
 }

body {
    color: white;
    background-color: #cccccc;
    height: 60px;
}

a {
    color:rgb(255, 255, 255);
    text-decoration: none;
}

  /* HEADER AREA */
header {
    background: rgb(1, 0, 52);
    height: 60px;
    padding: 0 30px;
    color:white;
}

header h1 {
    font-family: 'ubuntu', sans-serif;
    float: left;
    line-height: 60px;
   
}


header ul {
    float: right;
}

header li {
    display: inline;
    line-height: 60px;
    margin-left: 20px;
}

  /* BANNER AREA */

.banner {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 500px;
}
  
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;
    padding: 10px;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    display: block;
    max-width: 100%;
}

.section {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(1, 0, 52);
    opacity: 90%;
    border-radius: 20px;
}

.section1 {
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

.section2 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: "Courier New", Courier, monospace;
}

.icon {
    opacity: 100%;
    height: 80px;
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ABOUT ME AREA */

.about-area {
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

h3 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

hr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    width: 250px;
    color: white;
}

.aboutme1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    width: 800px;
    height: 100px;
}

/* My Skill */

.skills-area {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}
.project {
    margin-top: 100px;
    margin-bottom: 100px;
}

.project p{
    font-size: 96px;
    text-align: center; 
    margin: 200px 0 105px 0;
    text-transform: uppercase;
    font-family: "nunitobold";
}


.project .gallery {
    width: 100%;
    position: relative;
    list-style: none;
    display: grid; 
    justify-content: space-evenly;
    justify-items: center;
    grid-template-columns: repeat(3,350px);
    row-gap: 46px;
}

.project .gallery .kotak{
    width: 350px;
    height: 196px;
    position: absolute;
    top:1px;
    opacity: 0;
}

.project .gallery .kotak-usa{
    width: 350px;
    height: 196px;
    position: absolute;
    top: 248px;
    opacity: 0;
}


.project .gallery .kotak, .kotak-usa .icon{
    width: 350px;
    height: 196px;
    background-repeat: no-repeat;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 60px;
}


.project .gallery a:hover .kotak{
    opacity: 1;
    animation: fade 0.7s;
}

.project .gallery a:hover .kotak-usa{
    opacity: 1;
    animation: fade 0.7s;
}

.project img {
    width: 330px;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.4);
}

/* Contact area*/

.contact {
    height: 300px;
    background-color: white;
    color: rgb(1, 0, 52);
}

.contact-area {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.icon1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}


.box-email {
    text-align: center;
    font-family: verdana;
    font-weight: bold;
}

/* Footer */

footer {
    background-color: black;
    width: auto;
    height: 50px;
}
.footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}